/* .panel-dark {
  color: white;
  background-color: black;
}
.panel-light {
  color: black;
  background-color: white;
}
.button-dark {
  border: 1px solid orange;
  color: white;
  background-color: black;
}
.button-light {
  border: 1px solid orange;
  color: black;
  background-color: white;
} */
